.active{
  /* font-size: 1.3rem; */
  border-bottom: 1px solid white;
}
.linktomain {
  position: absolute;
  left: -9999px;
  z-index:  999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}.link-to-main:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 4rem;
}
.links{
  width: 40%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.vercelLogo{
  filter: invert(1);
}