.slider{
  position:relative;
  height: 20rem;
  width: 100vw;
  margin: 0 auto;
}
.show{
  display: flex;
}
.slide{
  position: relative;
  width: 17%;
  height: 350px;
  /* transform: translateX(-100%);
  transition: transform 2s ease ; */
}