.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section {
  display: inherit;
  justify-content: space-evenly;
  width: 100%;
  padding: 4rem 0;
}
.segment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2.1rem;
  width: 550px;
}.sectionInvert {
  display: inherit;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  padding: 4rem 0;
}
.sectionContrast {
  display: inherit;
  justify-content: center;
  background-color: black;
  color: white;
  width: 100%;
  padding: 4rem 0;
}
.sectionInvert .segment,
.sectionContrast .segment {
  justify-content: flex-start;
  width: 420px;
  margin: 0 3rem;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  ;
}
.deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem;
  gap: 3rem;
}
.deck h2 {
  margin: 3rem 0;
}
.cards {
  display: inherit;
  justify-content: space-evenly;
  padding: 2rem 5rem;
  gap: 2rem;
}
.card {
  display: inherit;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 2rem;
  line-height: 2rem;
}
.icon {
  width: 3rem;
  height: 3rem;
}
.cta{
  font-weight: 500;
  color: white;
  background-color: black;
  padding: 1.2rem 1.8rem;
  width:fit-content;
}
.ctaContrast {
  font-weight: 500;
  color: black;
  background-color: white;
  padding: 1.2rem 1.8rem;
  width:fit-content;
}
.textsm {
  font-weight: 300;
  line-height: 2rem;
}
.textM {
  font-size: 1.5rem;
  font-weight: 300;
}
.textLg {
  font-size: 2.1rem;
  font-weight: 500;
}
.textXL {
  font-weight: 500;
  font-size: 2.9rem;
  line-height: 4rem;
  letter-spacing: -.01rem;
}
.text2XL {
  font-weight: 500;
  font-size: 4rem;
  line-height: 5rem;
}