@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
  font-size: 16px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body, ::placeholder{
  font-family: 'Poppins', sans-serif;
  max-width: 100vw;
  color:white;
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  background: black}

a {
  color: inherit;
  text-decoration: none;
}
/* button css reset */
button{
  border: none;
  font-family: inherit;
  padding:0;
  margin: 0;
  font-size: 1rem;
  height: 4rem;
}
fieldset{
  border: none;
} 
legend,label {
  font-size: 1.1rem;
  padding:.5rem 0;
}
img {
  align-self: center;
}


@media screen and (max-width:750px){
  :root{
    font-size: 14px;
  }
}
