.overlay{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
.background{
  position:absolute;
  z-index: 1;
}
.imageInsta {
  width: 70vw;
  height: 15rem;
}

