.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section {
  display: inherit;
  justify-content: space-evenly;
  width: 100%;
  padding: 5rem 0;
  border: 1px red solid;
}
.background{
  position: relative;
}
.overlay{
  position:absolute;
  top: 43%;
  right: 43%;
  z-index: 1;
}
.sectionInvert {
  display: inherit;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  padding: 5rem 0;
}
.deck{
  width: 100%;
  text-align: center;
  margin: 3rem;
}
.deck h2 {
  margin-bottom: 3rem;
}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
.card{
  display: flex;
  flex-direction: column;
  width: 17%;
  align-items: center;
  gap: 2rem;
  line-height: 2rem;
}
.card p {
  height: 12rem;
}
.icon{
  width: 3rem;
  height: 3rem;
}
.sectionInvert .segment, .sectionContrast .segment{
  justify-content: flex-start;
  width: 420px;
  margin: 3rem;
}
.sectionContrast{
  display: inherit;
  justify-content: center;
  background-color: black;
  color: white;
  width: 100%;
  padding: 5rem 0;
}
.segment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2.1rem;
  width: 550px;
}





/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  /* .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  } */
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}


