.sectionInvert {
  display: inherit;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 100%;
  padding: 5rem 0;
  background-color: black;
  color:white;
}
.banner {
  display: inherit;
  justify-content: space-evenly;
  width: 100%;
  padding: 1.5rem 16rem;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}
.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;;
}
