.banner {
  display: inherit;
  justify-content: space-evenly;
  width: 100%;
  padding: 1.5rem 20rem;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}
@media screen and (max-width: 750px){
  .banner{
    padding: 3rem;
  }
}